@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #6366f1;
  color: white;
}